[submodule "docs/develop/sdks/terra-py"]
	path = docs/develop/sdks/terra-py
	url = https://github.com/terra-money/terra.py
[submodule "terra.py"]
	path = terra.py
	url = https://github.com/terra-money/terra.py.git
