alabaster ==0.7.12
attrs == 21.4.0
Babel == 2.8.0
beautifulsoup4 ==4.10.0
certifi ==2019.11.28
charset-normalizer == 2.0.12
click == 8.0.4
docutils ==0.16
idna == 2.9
imagesize ==1.2.0
Jinja2 == 2.11.1
linkify-it-py == 1.0.3
markdown-it-py == 2.0.1
MarkupSafe == 1.1.1
mdit-py-plugins == 0.3.0
myst-parser == 0.17.0
packaging == 20.3
pydata-sphinx-theme == 0.8.0
Pygments == 2.11.2
pyparsing == 2.4.6
pytz == 2019.3
PyYAML == 6.0
requests == 2.23.0
snowballstemmer == 2.0.0
soupsieve == 2.3.1
Sphinx == 2.4.4
sphinx-autobuild == 2021.3.14
sphinxcontrib-applehelp == 1.0.2
sphinxcontrib-devhelp == 1.0.2
sphinxcontrib-htmlhelp == 1.0.3
sphinxcontrib-jsmath == 1.0.1
sphinxcontrib-qthelp == 1.0.3
sphinxcontrib-serializinghtml == 1.1.4
sphinx-book-theme == 0.2.0
sphinx-copybutton == 0.5.0
sphinx_design == 0.0.13
sphinx-notfound-page == 0.8
sphinx_panels == 0.6.0
sphinx-tabs == 3.3.1
urllib3 == 1.25.8

