alabaster
attrs
Babel
beautifulsoup4
certifi
charset-normalizer
click
docutils
idna
imagesize
Jinja2
linkify-it-py
markdown-it-py
MarkupSafe
mdit-py-plugins
#myst-nb for python docs
myst-parser
packaging
pydata-sphinx-theme
Pygments >= 2.11.2
pyparsing
pytz
PyYAML
requests
snowballstemmer
soupsieve
Sphinx <5,>=3.5.4
sphinxcontrib-applehelp
sphinx-autobuild
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp >=2.0.0
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml >=1.1.5
sphinxcontrib.youtube
sphinx-book-theme ~=0.2.0
sphinx-copybutton
sphinx_design
sphinx-notfound-page
sphinx_panels
sphinx-reredirects
sphinx-tabs
urllib3
