alabaster
attrs
Babel
beautifulsoup4
certifi
charset-normalizer
click
docutils
idna
imagesize
Jinja2
linkify-it-py
markdown-it-py
MarkupSafe
mdit-py-plugins
myst-parser
packaging
pydata-sphinx-theme
Pygments >= 2.11.2
pyparsing
pytz
PyYAML
requests
snowballstemmer
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinx-book-theme
sphinx-copybutton
sphinx_design
sphinx-notfound-page
sphinx_panels
sphinx-tabs
urllib3
