# If you only want circle to run on direct commits to master, you can uncomment this out
# and uncomment the filters: *filter-only-master down below too
#
aliases:
 - &filter-only-master
   branches:
     only:
       - master

version: 2.1
jobs:
  deploy-website:
    docker:
      # specify the version you desire here
      - image: circleci/node:12

    steps:
      - checkout
      - run:
          name: Deploying to GitHub Pages
          command: |
            git config --global user.email "engineering@terra.money"
            git config --global user.name "Terra Engineering"
            echo "machine github.com login Yunsuk-Yeo password $GITHUB_TOKEN" > ~/.netrc
            yarn install && GIT_USER=Yunsuk-Yeo ./deploy.sh
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - deploy-website:
        filters: *filter-only-master