.menu {
  background-color: $light-bg;
  border-right: 1px solid $border;

  .menu__link {
    font-family: 'Gotham';
    font-size: 16px;
    line-height: 21px;
    color: $light-primary;

    &--active {
      font-weight: 500;
      font-size: 16px;
      color: $light-primary !important;
      font-weight: 600;

      &:not(.menu__link--sublist) {
        background: none;
      }
    }
  }

  .theme-doc-sidebar-menu {
    margin-bottom: 50px;
  }

  .menu__link:hover,
  .menu__caret:hover {
    background: none;
    opacity: 70%;
  }
  .menu__list-item-collapsible:hover {
    background: none;
  }

  .navbar-sidebar__back {
    display: none;
  }
}

.theme-doc-sidebar-container {
  height: 100vh;
  position: sticky;
  top: 0;
}

li[class*=' theme-doc-sidebar-item-'] {
  &[class*='-level-2'] {
    a.menu__link {
      font-size: 13px;
      color: $inactive-menu-item;
    }

    [class*='caret'] {
      padding-right: 20px;

      &::before,
      &::after {
        background: var(--ifm-menu-link-sublist-icon) 50% / 1.75rem 1.75rem;
      }
    }
  }

  &[class*='-level-3'] {
    a.menu__link {
      font-size: 12px;
    }

    [class*='caret'] {
      padding-right: 30px;

      &::before,
      &::after {
        background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
      }
    }
  }

  &[class*='-level-4'] {
    [class*='caret'] {
      padding-right: 40px;

      &::before,
      &::after {
        background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
      }
    }
  }

  &[class*='-level-5'] {
    [class*='caret'] {
      padding-right: 50px;

      &::before,
      &::after {
        background: var(--ifm-menu-link-sublist-icon) 50% / 1rem 1rem;
      }
    }
  }

  &[class*='-level-6'] {
    [class*='caret'] {
      padding-right: 60px;
    }
  }

  &[class*='-level-7'] {
    [class*='caret'] {
      padding-right: 70px;
    }
  }
}

[data-theme='dark'] .menu {
  background-color: $menu-cards-bg;
  border-color: $dark-border;

  .navbar-sidebar__back {
    color: $dark-secondary !important;
  }

  .menu__link {
    font-family: 'Gotham';
    font-size: 16px;
    color: $dark-secondary !important;

    &--active {
      font-size: 16px;
      color: $dark-primary !important;
    }
  }

  .header-terra-link {
    font-size: 12px;
    color: $navbar-button-hover;
  }
}

.menu__list-item-collapsible--active {
  background: none;
}

.navbar-sidebar {
  max-width: 400px;

  .theme-doc-sidebar-menu {
    max-width: 380px;
  }
}
