.menu {
  background-color: #F9FAFF;
  color: black;

  .menu__link {
    font-family: 'Gotham';
    font-size: 16px;
    line-height: 150%;
    color: #2043B5;

    &--active {
      font-weight: 500;
      font-size: 16px;
      color: #2043B5 !important;
      font-weight: 600;

      &:not(.menu__link--sublist) {
        background: none;
      }
    }
  }

  .menu__list {
    margin-bottom: 50px;
  }

  .menu__link:hover, .menu__caret:hover {
    background: none;
    opacity: 70%;
  }
  .menu__list-item-collapsible:hover {
    background: none;
  }

  .navbar-sidebar__back {
    display: none;
  }
}

.theme-doc-sidebar-container {
  height: calc(100% + 400px);
}

li[class*=' theme-doc-sidebar-item-'] {
  &[class*="-level-2"] {
    a.menu__link {
      font-size: 13px;
      color: #7788C6;
    }

    [class*='caret'] {
      padding-right: 20px;

      &::before, &::after {
        background: var(--ifm-menu-link-sublist-icon) 50% / 1.75rem 1.75rem;
      }
    }
  }

  &[class*="-level-3"] {
    a.menu__link {
      font-size: 12px;
    }

    [class*='caret'] {
      padding-right: 30px;

      &::before, &::after {
        background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
      }
    }
  }

  &[class*="-level-4"] {
    [class*='caret'] {
			padding-right: 40px;

      &::before, &::after {
        background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
      }
    }
  }

  &[class*="-level-5"] {
    [class*='caret'] {
      padding-right: 50px;

      &::before, &::after {
        background: var(--ifm-menu-link-sublist-icon) 50% / 1rem 1rem;
      }
    }
  }

  &[class*="-level-6"] {
    [class*='caret'] {
			padding-right: 60px;
		}
  }

  &[class*="-level-7"] {
    [class*='caret'] {
			padding-right: 70px;
		}
  }
}

[data-theme='dark'] .menu {
  background-color: #1C1C1C;

  .navbar-sidebar__back {
    color: #8D8D8D !important;
  }

  .menu__link {
    font-family: 'Gotham';
    font-size: 16px;
    color: #8D8D8D !important;
    line-height: 24px;

    &--active {
      font-size: 16px;
      color: #DBDBDB !important;
    }
  }

  .header-terra-link {
    font-size: 12px;
    color: #F3F3F3;
  }
}

.menu__list-item-collapsible--active {
  background: none;
}