:root {
  /* Right side menu colors */
  --ifm-color-primary: #0759E7;
  --ifm-color-content-secondary: #8B9CDA;
  /* Navbar background color */
  --ifm-background-surface-color: #F9FAFF;
  /* Hyperlink color */
  --ifm-link-color: #0759E7;
  /* Heading color */
  --ifm-heading-color: #1C1E21;
  /* Color for active page name on track above heading */
  --ifm-breadcrumb-color-active: #8B9CDA;
  /* Footer background color */
  --ifm-footer-background-color: #FFFFFF;
  /* Footer text color */
  --ifm-footer-color: #8B9CDA;
  /* Side menu caret style */
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(32, 67, 181, 1)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
}

[data-theme='dark'] {
  /* Right side menu colors */
  --ifm-color-primary: #459CF4 !important;
  --ifm-color-content-secondary: #8D8D8D !important;
  /* Main container background color */
  --ifm-background-color: #1E1E1E !important;
  /* Hyperlink color */
  --ifm-link-color: #459CF4 !important;
  /* Heading color */
  --ifm-heading-color: #E9E9E9 !important;
  /* Color for active page name on track above heading */
  --ifm-breadcrumb-color-active: #8D8D8D;
  /* Footer background color */
  --ifm-footer-background-color: #1E1E1E!important;
  /* Footer text color */
  --ifm-footer-color: #8D8D8D !important;
}

.readme-img-sm {
  margin: auto;
  display: block;
  width: 300px;
  padding: 10px 10px 20px 10px;
}

.readme-img-md {
  margin: auto;
  display: block;
  width: 500px;
  padding: 10px 10px 20px 10px;
}

.readme-img-lg {
  margin: auto;
  display: block;
  width: 800px;
  padding: 10px 10px 20px 10px;
}

.theme-admonition {
  transition: border .5s, box-shadow .7s, transform .1s;
  border: 1px solid transparent;
  border-left-width: var(--ifm-alert-border-left-width);
  border-left-color: var(--ifm-tabs-color-active-border);
}

.theme-admonition:hover {
  transform: scale(1.015);
  box-shadow: 3px 3px 6px rgb(55 55 55 / 25%);
  border: 1px solid var(--ifm-tabs-color-active-border);
  border-left-width: var(--ifm-alert-border-left-width);
}

[data-theme='dark'] .theme-admonition:hover {
  box-shadow: 3px 3px 6px rgb(150 150 150 / 25%);
}


.ch-scrollycoding-step-content {
  border-radius: 5px;
  margin: .25rem -0.5rem;
  padding: 1rem 0.5rem;
  border: 1.5px solid transparent;
  min-height: 100px;
}

[data-theme='dark'] .ch-scrollycoding-step-content {
  border-radius: 5px;
  margin: .25rem -0.5rem;
  padding: 1rem 0.5rem;
  border: 1.5px solid transparent;
  min-height: 100px;
}


.ch-scrollycoding-step-content:hover {
  background: rgba(249, 250, 255, 1);
}

[data-theme='dark'] .ch-scrollycoding-step-content:hover {
  background: rgb(33 48 120 / 20%);

}

.ch-scrollycoding-step-content[data-selected] {
  background: rgba(235, 239, 248, .8);
  border: 1.5px solid transparent;

}

[data-theme='dark'] .ch-scrollycoding-step-content[data-selected] {
  background: rgb(33 48 120 / 40%);
  border: 1.5px solid transparent;

}

.ch-inline-code>code {
  word-break: break-word;
}

.ch-scrollycoding-sticker {
  flex: 1.5;
}