.footer {
  border-top: 1px solid #EBEFF8;
  padding: 32px 0 0 0;
  @media (min-width: 997px) {
    margin-left: 300px;
  }

  .links {
    display: flex;
    justify-content: space-between;

    .social-links {
      .social-link {
        padding: 10px;

        img {
          height: 18px;
        }

        &:hover {
          opacity: 0.7
        }
      }
    }

    .hyperlinks {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 100px 100px 100px;
      grid-template-rows: 17px 17px;
      grid-auto-rows: 1fr;

      .hyperlink {
        font-family: 'Gotham';
        color: #8b9cda;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;

        &:hover {
          text-decoration: none;
          opacity: 70%;
        }
      }
    }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 70%;
    padding-top: 120px;
    padding-bottom: 20px;

    &:hover {
      opacity: 100%;
    }

    p {
      margin-bottom: 0px;
    }
  }
}

[data-theme='dark'] .footer {
  border-color: #212121;
  .links .hyperlink {
    color: #8d8d8d;
  }
}
