// Utilities
@import "./variables";

// Styles
@import './custom.scss';
@import './fonts.scss';
@import './asideMenu.scss';
@import './navbar.scss';
@import './cards.scss';
@import './pagination.scss';
@import './footer.scss';
