.pagination-nav__link {
  border: 0px;

  &:hover {
    border: 1px solid $dark-border-hover;
    padding: calc(var(--ifm-global-spacing) - 1px);
  }

  .pagination-nav__sublabel {
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $light-secondary;
  }

  .pagination-nav__label {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $hyperlink-color;
    padding-top: 2px;
    display: flex;
    align-items: center;
  }

  &[class$='pagination-nav__link--next'] {
    .pagination-nav__label {
      justify-content: flex-end;

      &::after {
        padding-left: 10px;
        content: $next-page-arrow;
        line-height: 95%;
      }
    }
  }

  &[class$='pagination-nav__link--prev'] {
    .pagination-nav__label {
      justify-content: flex-start;

      &::before {
        padding-right: 10px;
        content: $prev-page-arrow;
        line-height: 95%;
      }
    }
  }
}

[data-theme='dark'] {
  .pagination-nav__link {
    &:hover {
      border: 1px solid $dark-hyperlink-color;
    }

    .pagination-nav__sublabel {
      color: $dark-secondary;
    }

    .pagination-nav__label {
      color: $dark-hyperlink-color;
    }

    &[class$='pagination-nav__link--prev'] {
      .pagination-nav__label {
        &::before {
          content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0L9.41 1.41L3.83 7H16V9H3.83L9.41 14.59L8 16L0 8L8 0Z' fill='%23459CF4'/%3E%3C/svg%3E");
        }
      }
    }

    &[class$='pagination-nav__link--next'] {
      .pagination-nav__label {
        &::after {
          content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z' fill='%23459CF4'/%3E%3C/svg%3E");
        }
      }
    }
  }
}
