/* ===========LIGHT MODE GLOBAL VARIABLES=========== */

:root {
  /* Right side menu colors */
  --ifm-color-primary: #0759e7;
  --ifm-color-content-secondary: #8b9cda;
  /* Navbar background color */
  --ifm-background-surface-color: #f9faff;
  /* Hyperlink color */
  --ifm-link-color: #0759e7;
  /* Heading color */
  --ifm-heading-color: #1c1e21;
  /* Color for active page name on track above heading */
  --ifm-breadcrumb-color-active: #8b9cda;
  /* Footer background color */
  --ifm-footer-background-color: #ffffff;
  /* Footer text color */
  --ifm-footer-color: #8b9cda;
  /* Side menu caret style */
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(32, 67, 181, 1)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
}

/* ============DARK MODE GLOBAL VARIABLES============ */

[data-theme='dark'] {
  /* Right side menu colors */
  --ifm-color-primary: #dbdbdb !important;
  --ifm-color-content-secondary: #8d8d8d !important;
  /* Main container background color */
  --ifm-background-color: #1e1e1e !important;
  /* Hyperlink color */
  --ifm-link-color: #459cf4 !important;
  /* Heading color */
  --ifm-heading-color: #e9e9e9 !important;
  /* Color for active page name on track above heading */
  --ifm-breadcrumb-color-active: #8d8d8d;
  /* Footer background color */
  --ifm-footer-background-color: #1e1e1e !important;
  /* Footer text color */
  --ifm-footer-color: #8d8d8d !important;
  --docsearch-highlight-color: #459cf4 !important;
}

/* ===============LIGHT MODE VARIABLES=============== */

$light-primary: #2043b5;
$light-secondary: #8b9cda;
$light-bg: #f9faff;
$hover-shadow: #33333339;
$border: #ebeff8;
$hyperlink-color: #0759e7;
$code-hike-hover: #8b9cda14;
$code-hike-selected: #8b9cda28;
$inactive-menu-item: #7788c6;
$navbar-button: #ffffff;
$navbar-button-hover: #f3f3f3;
$doc-search-border: #cfd8ea;
$prev-page-arrow: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0L9.41 1.41L3.83 7H16V9H3.83L9.41 14.59L8 16L0 8L8 0Z' fill='%230759E7'/%3E%3C/svg%3E");
$next-page-arrow: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z' fill='%230759E7'/%3E%3C/svg%3E");

/* ================DARK MODE VARIABLES================ */

$dark-primary: #dbdbdb;
$dark-secondary: #8d8d8d;
$dark-bg: #252526;
$menu-cards-bg: #1c1c1c;
$dark-hover-shadow: #96969640;
$dark-border: #343536;
$dark-border-hover: #275bde;
$dark-hyperlink-color: #459cf4;
$navbar-white: #e3e3e3;
$dark-navbar-button: #252526;
$dark-navbar-button-hover: #000000;
$dark-doc-search: #4d4d4d;
$dark-code-hike-hover: #8d8d8d14;
$dark-code-hike-selected: #8d8d8d28;

/* ==================IMAGE VARIABLES================== */

$blue-github: '/img/icons/links/bluegithub.svg';
$white-github: '/img/icons/links/whitegithub.svg';
$white-terra: '/img/Terra-logo-grayscale.svg';
$colorful-terra: '/img/BlueGreenTerra.svg';
$small-colorful-terra: '/img/BlueGreenTerraSmall.svg';
$white-luna: '/img/Luna-logo-white.svg';
$colorful-luna: '/img/Luna-color.svg';
$small-colorful-luna: '/img/Luna-color-small.svg';
$white-arrow: '/img/ArrowWhite.svg';
$blue-arrow: '/img/ArrowDarkBlue.svg';
$light-blue-arrow: '/img/ArrowLightBlue.svg';
$light-caret: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(32, 67, 181, 1)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
